<p>about works!</p>

<input type="text" [(ngModel)]="age">
<br/>
<span *ngIf="age"> năm nay bạn {{age}}</span>
<br/>
<div *ngIf="age <=18; then tre; else gia"></div>
<ng-template #tre>bạn còn trẻ quá</ng-template>
<ng-template #gia>bạn đã gìa rồi</ng-template>
<br/>
 <!-- combo box -->
<select  (change)="change($event)">
    <option value="{{data.city}}" *ngFor="let data of dataVietnam">{{data.city}}</option>
</select>
<select (change)="changeDistric($event)">
    <option value="">Quận/Huyện</option>
    <option value="{{dis}}" *ngFor="let dis of distric" >{{dis}}</option>
</select>


<ul [ngSwitch] ="name">
    <li *ngSwitchCase="'Quận 1'"><span>{{name}}</span></li>
    <li *ngSwitchCase="'Quận 2'"><span>{{name}}</span></li>
    <li *ngSwitchDefault><span>{{name}}</span></li>
</ul>

<div [appHightLight]="color">hightlight</div>